/*.turnOff-on-mobile
  display block
.turnOn-on-mobile
  display none
.portfolio-view
  padding 155px 0
  background-image url(../img/backgrounds/projects-bgd.png)
  background-size 100% 10%
  background-position-y 70px  
  background-repeat no-repeat
.portfolio-logo-transform 
  transition all 0.2s ease-in

.portfolio-logo-transformhover 
  transition all 0.2s ease-in
  transform scale(1.2)

.portfolio-view__background 
  width 100%
  total-center()
  flex-direction column

.portfolio-view__background-title 
  total-center()
  flex-direction column
  p 
    color #3b84af
    font-size remify(46px)
  span 
    color #131b21
    font-size remify(20px)
    width 33.75em
    line-height 1.35
    text-align center
    margin 41px 0 88px

.portfolio-view__container 
  display flex
  justify-content center
  flex-wrap wrap
  max-width 1030px
  margin 15px auto 

  img
    transition all .2s ease-in
  
  img:hover
    transition all .2s ease-in
    transform scale(1.2)

.col-1, .col-2, .col-3
  width 33.33%
  padding 0 6px

.card-lg,.card-md, .card-sm
  width 100%
  margin-bottom 12px
  total-center()
  background-repeat no-repeat
  background-position top center
  background-size cover

.card-lg 
  height 28.31em

.card-md   
  height 24.5em

.card-sm 
  height 21.68em 

.card-lg-bg1 
  background-image url(../img/portfolio/portfolio_higia.png)
  img 
    width 7.66em
    margin-top 50px

.card-lg-bg2 
  background-image url(../img/portfolio/portfolio_rgv.png)
  img[src="img/logos/rgv.png"]
    width 6.18em
  img[src="img/logos/dreamwater.png"]
    width 9.12em

.card-lg-bg3 
  background-image url(../img/portfolio/portfolio_rer.png)
  img 
    width 7.31em

.card-lg-bg4 
  background-image url(../img/portfolio/portfolio_98-coast.png)
  img 
    width 9.66em 

.card-lg-bg5 
  background-image url(../img/portfolio/portfolio_nutrologa.png)
  img 
    width 7em

.card-lg-bg6 
  background-image url(../img/portfolio/portfolio_workingch.png)
  img 
    width 9.66em

.card-lg-bg7 
  background-image url(../img/portfolio/portfolio_local-e.png)
  img 
    width 8.9em

.card-lg-bg8 
  background-image url(../img/portfolio/portfolio_emma.png)
  img 
    width 9.66em
.card-lg-bg9  
  background-image url(../img/portfolio/portfolio_rancho.png)
  img 
    width 9.66em

// md
.card-md-bg1 
  background-image url(../img/portfolio/portfolio_cierralo.png)
  img 
    width 9em

.card-md-bg2 
  background-image url(../img/portfolio/portfolio_dondinero.png)
  img 
    width 9em

.card-md-bg3 
  background-image url(../img/portfolio/portfolio_brick.png)
  img 
    width 7em

.card-md-bg4 
  background-image url(../img/portfolio/portfolio_opia.png)
  img 
    width 9.68em

.card-md-bg5 
  background-image url(../img/portfolio/portfolio_finacero.png)
  img 
    width 8em 

.card-md-bg6 
  background-image url(../img/portfolio/portfolio_aguaviento.png)
  img 
    width 9.66em

.card-md-bg7 
  background-image url(../img/portfolio/portfolio_iidea.png)
  img 
    width 6.66em

.card-md-bg8 
  background-image url(../img/portfolio/portfolio_pacer.png)
  img 
    width 8em

.card-md-bg9 
  background-image url(../img/portfolio/portfolio_gemo.png)
  img 
    width 8.5em

.card-md-bg10
  background-image url(../img/portfolio/portfolio_rancho.png)
  img 
    width 7em

.card-md-bg11
  background-image url(../img/portfolio/portfolio_jb.png)
  img
    width 5.5em

// sm
.card-sm-bg1 
  background-image url(../img/portfolio/portfolio_dreamwater.png)
  a[class="turnOff-on-mobile"]
    img 
      width 6.12em
  a[class="turnOn-on-mobile"]
    img
      width 6.18em

.card-sm-bg2 
  background-image url(../img/portfolio/portfolio_vre.png)
  img 
    width 9.87em

.card-sm-bg3 
  background-image url(../img/portfolio/portfolio_debisa.jpg)
  img
    width 9.77em

.card-sm-bg4 
  background-image url(../img/portfolio/portfolio_neopraxis.png)
  img 
    width 9.12em

.card-sm-bg5 
  background-image url(../img/portfolio/portfolio_begona.png)
  img 
    width 9.66em

.card-sm-bg6 
  background-image url(../img/portfolio/portfolio_beltrami.png)
  img 
    width 8em

.card-sm-bg7 
  background-image url(../img/portfolio/portfolio_rocha.png)
  img 
    width 4em

.card-sm-bg8 
  background-image url(../img/portfolio/portfolio_Indots.jpg)
  img 
    width 9.77em

.card-sm-bg9 
  background-image url(../img/portfolio/portfolio_mccosmetics.png)
  img 
    width 7em

.card-sm-bg10 
  background-image url(../img/portfolio/portfolio_florella.png)
  img 
    width 9.77em

.card-sm-bg11
  background-image url(../img/portfolio/portfolio_jb.png)
  img
    width 5.5em


.portfolio-view__more-log 
  display none

//////////////// Mobile medium devices ////////////////////
@media screen and (min-width 40.063em) and (max-width 64em)   
  .card-lg 
    height 16.5em

  .card-md   
    height 16.5em

  .card-sm 
    height 14.68em  
  
  .portfolio-view__background 
    margin 50px 0 0

  .portfolio-view__background-title 
    span 
      margin 41px 0 55px

  .portfolio-view__container 
    display flex
    justify-content center
    margin 0 auto 30px auto

//////////////// Mobile small devices ////////////////////
@media screen and (max-width 40em)
  .turnOff-on-mobile
    display none
  .turnOn-on-mobile
    display block
  .col-1, .col-2, .col-3
    display flex
    flex-wrap wrap
    width 100%
    padding 0
   
  .card-lg, .card-md, .card-sm
    width calc(50% - 7px)
    height 18.31em
  
  .card-lg-bg2
    background-image url(../img/portfolio/portfolio_dreamwater.png)
  .card-sm-bg1 
    background-image url(../img/portfolio/portfolio_rgv.png)
  .card-md-bg1 
    background-image url(../img/portfolio/portfolio_nutrologa.png)
  .card-lg-bg3
    background-image url(../img/portfolio/portfolio_cierralo.png)
  .card-lg-bg5
    background-image url(../img/portfolio/portfolio_rer.png)
  .card-sm-bg10,
  .card-sm-bg8,
  .card-sm-bg6,
  .card-sm-bg4,
  .card-sm-bg2,
  .card-md-bg10,
  .card-md-bg8,
  .card-md-bg6,
  .card-md-bg4,
  .card-md-bg2,
  .card-lg-bg8,
  .card-lg-bg6,
  .card-lg-bg4,
  .card-lg-bg2
    margin 7px 0 7px 7px

  .card-sm-bg11
  .card-sm-bg9,
  .card-sm-bg7,
  .card-sm-bg5,
  .card-sm-bg3,
  .card-sm-bg1,
  .card-md-bg11,
  .card-md-bg9,
  .card-md-bg7,
  .card-md-bg5,
  .card-md-bg3,
  .card-md-bg1,
  .card-lg-bg7,
  .card-lg-bg5,
  .card-lg-bg3,
  .card-lg-bg1
    margin 7px 7px 7px 0
  .portfolio-view
    padding 100px 0 80px 0
    background-size 100% 3%

  .portfolio-view__background 
    background-size contain
    height 15.5em
  
  .portfolio-view__background-title 
    align-items flex-start
    justify-content flex-start
    width 100%
    margin 0
    padding 0 0 0 2.06em 
    span 
      width 16.43em
      text-align left
      margin 32px 0 0

  .portfolio-view__more-log 
    display block
    margin-top 68px
    a
      width 100%
      height 100%
      display flex
      justify-content center
      img
        width 20%
        height 20%
        animation tada_more_logo linear 1s 2 forwards
        transform-origin 20% 100%

  .card-lg-bg2 img[src="img/logos/dreamwater.png"] 
    width 5.12em
  .card-lg-bg1 img 
    width 6.66em
    margin-top 0
  .card-lg-bg6 img 
    width 7.66em
*/

.turnOff-on-mobile{
    display:block
}
.turnOn-on-mobile{
    display:none
}
.portfolio-view{
    padding:155px 0;
    background-image:url(../img/backgrounds/projects-bgd.png);
    background-size:100% 10%;
    background-position-y:70px;
    background-repeat:no-repeat
}
.portfolio-logo-transform{
    transition:all .2s ease-in
}
.portfolio-view__background{
    width:100%;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-direction:column;
    flex-direction:column
}
.portfolio-view__background-title{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-direction:column;
    flex-direction:column
}
.portfolio-view__background-title p{
    color:#3b84af;
    font-size:2.875rem
}
.portfolio-view__background-title span{
    color:#131b21;
    font-size:1.25rem;
    width:33.75em;
    line-height:1.35;
    text-align:center;
    margin:41px 0 88px
}
.portfolio-view__container{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    max-width:1030px;
    margin:15px auto
}
.portfolio-view__container img{
    transition:all .2s ease-in
}
.quotation-view .quotation_logo_more,.quotation-view:before{
    transform-origin:20% 100%;
    animation:tada_more_logo linear 1s 2 forwards
}
.col-1,.col-2,.col-3{
    width:33.33%;
    padding:0 6px
}
.card-lg,.card-md,.card-sm{
    width:100%;
    margin-bottom:12px;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover
}
.card-lg-atelier img,.card-lg-higia img,.card-lg-opalo img{
    width:7.66em;
    margin-top:50px
}
.card-lg{
    height:28.31em
}
.card-md{
    height:24.5em
}
.card-sm{
    height:21.68em
}
.card-lg-atelier{
    background-image:url(../img/portfolio/atelier-img.jpg)
}
.card-lg-higia{
    background-image:url(../img/portfolio/portfolio_higia.png)
}
.card-lg-opalo{
    background-image:url(../img/portfolio/opalo-img.jpg)
}
.card-lg-rgv{
    background-image:url(../img/portfolio/portfolio_rgv.png)
}
.card-lg-rgv img{
    width:6.18em
}
.card-lg-begona img,.card-lg-brick img,.card-lg-rer img{
    width:7.31em
}
.card-lg-rer{
    background-image:url(../img/portfolio/portfolio_rer.png)
}
.card-lg-brick{
    background-image:url(../img/portfolio/portfolio_brick.png)
}
.card-lg-begona{
    background-image:url(../img/portfolio/portfolio_begona.png)
}
.card-lg-alegpaez{
    background-image:url(../img/portfolio/portfolio_nutrologa.png)
}
.card-lg-alegpaez img{
    width:7em
}
.card-lg-aguaviento{
    background-image:url(../img/portfolio/portfolio_aguaviento.png)
}
.card-lg-aguaviento img{
    width:9.66em
}
.card-lg-mccosmetics{
    background-image:url(../img/portfolio/portfolio_mccosmetics.png)
}
.card-lg-mccosmetics img{
    width:7em
}
.card-lg-florella img,.card-sm-debisa img{
    width:9.77em
}
.card-lg-florella{
    background-image:url(../img/portfolio/portfolio_florella.png)
}
.card-sm-debisa{
    background-image:url(../img/portfolio/portfolio_debisa.jpg)
}
.card-md-cierralo img,.card-md-dondinero img,.card-md-fortia img,.card-md-indots img,.card-md-indotsverde img{
    width:6em
}
.card-md-fortia{
    background-image:url(../img/portfolio/fortia-img.jpg)
}
.card-md-cierralo{
    background-image:url(../img/portfolio/portfolio_cierralo.png)
}
.card-md-indotsverde{
    background-image:url(../img/portfolio/indotsverde-img.jpg)
}
.card-md-dondinero{
    background-image:url(../img/portfolio/portfolio_dondinero.png)
}
.card-md-indots{
    background-image:url(../img/portfolio/portfolio_Indots.jpg)
}
.card-md-98coast{
    background-image:url(../img/portfolio/portfolio_98-coast.png)
}
.card-md-98coast img{
    width:9.66em
}
.card-md-opia{
    background-image:url(../img/portfolio/portfolio_opia.png)
}
.card-md-opia img{
    width:9.68em
}
.card-md-casabeltrami{
    background-image:url(../img/portfolio/portfolio_beltrami.png)
}
.card-md-casabeltrami img{
    width:8em
}
.card-md-locale{
    background-image:url(../img/portfolio/portfolio_local-e.png)
}
.card-md-locale img{
    width:8.9em
}
.card-md-miemma{
    background-image:url(../img/portfolio/portfolio_emma.png)
}
.card-md-miemma img{
    width:9.66em
}
.card-md-kerma img,.card-md-rancholucero img{
    width:7em
}
.card-md-rancholucero{
    background-image:url(../img/portfolio/portfolio_rancho.png)
}
.card-md-kerma{
    background-image:url(../img/portfolio/kerma-img.jpg)
}
.card-sm-ican{
    background-image:url(../img/portfolio/ican-img.jpg)
}
.card-sm-ican img{
    width:9.87em
}
.card-sm-dreamwater img,.card-sm-loquay img{
    width:6.12em
}
.card-sm-dreamwater{
    background-image:url(../img/portfolio/portfolio_dreamwater.png)
}
.card-sm-loquay{
    background-image:url(../img/portfolio/loquay-img.jpg)
}
.card-sm-vre{
    background-image:url(../img/portfolio/portfolio_vre.png)
}
.card-sm-vre img{
    width:9.87em
}
.card-sm-estilizate img,.card-sm-neopraxis img{
    width:9.12em
}
.card-sm-neopraxis{
    background-image:url(../img/portfolio/portfolio_neopraxis.png)
}
.card-sm-estilizate{
    background-image:url(../img/portfolio/estilizate-img.jpg)
}
.card-sm-finacero{
    background-image:url(../img/portfolio/portfolio_finacero.png)
}
.card-sm-finacero img{
    width:8em
}
.card-sm-rochalandero{
    background-image:url(../img/portfolio/portfolio_rocha.png)
}
.card-sm-rochalandero img{
    width:4em
}
.card-sm-working{
    background-image:url(../img/portfolio/portfolio_workingch.png)
}
.card-sm-working img{
    width:9.66em
}
.card-sm-pacer{
    background-image:url(../img/portfolio/portfolio_pacer.png)
}
.card-sm-pacer img{
    width:8em
}
.card-sm-jbaccesorios{
    background-image:url(../img/portfolio/portfolio_jb.png)
}
.card-sm-jbaccesorios img{
    width:5.5em
}
.card-sm-gemo{
    background-image:url(../img/portfolio/portfolio_gemo.png)
}
.card-sm-gemo img{
    width:8.5em
}
.gemo-only-mobile,.portfolio-view__more-log{
    display:none
}
@media screen and (min-width:40.063em) and (max-width:64em){
    .card-lg,.card-md{
        height:16.5em
    }
    .card-sm{
        height:14.68em
    }
    .portfolio-view__background{
        margin:50px 0 0
    }
    .portfolio-view__background-title span{
        margin:41px 0 55px
    }
    .portfolio-view__container{
        display:-ms-flexbox;
        display:flex;
        -ms-flex-pack:center;
        justify-content:center;
        margin:0 auto 30px
    }
}
@media screen and (max-width:40em){
    .turnOff-on-mobile{
        display:none
    }
    .turnOn-on-mobile{
        display:block
    }
    .col-1,.col-2,.col-3{
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        width:100%;
        padding:0
    }
    .card-lg,.card-md,.card-sm{
        width:calc(50% - 7px);
        height:18.31em
    }
    .card-md-gemo img,.card-md-m-kerma img{
        width:8.5em
    }
    .card-lg-higia{
        background-image:url(../img/portfolio/ican-img.jpg)
    }
    .card-lg-opalo{
        background-image:url(../img/portfolio/fortia-img.jpg)
    }
    .card-lg-rgv{
        background-image:url(../img/portfolio/portfolio_rgv.png)
    }
    .card-lg-rer{
        background-image:url(../img/portfolio/portfolio_rer.png)
    }
    .card-lg-brick{
        background-image:url(../img/portfolio/portfolio_cierralo.png)
    }
    .card-lg-begona{
        background-image:url(../img/portfolio/opalo-img.jpg)
    }
    .card-lg-alegpaez{
        background-image:url(../img/portfolio/portfolio_nutrologa.png)
    }
    .card-lg-aguaviento{
        background-image:url(../img/portfolio/indotsverde-img.jpg)
    }
    .card-lg-mccosmetics{
        background-image:url(../img/portfolio/portfolio_rgv.png)
    }
    .card-lg-florella,.card-sm-ican{
        background-image:url(../img/portfolio/portfolio_vre.png)
    }
    .card-sm-dreamwater{
        background-image:url(../img/portfolio/portfolio_dondinero.png)
    }
    .card-sm-loquay{
        background-image:url(../img/portfolio/portfolio_rer.png)
    }
    .card-sm-vre{
        background-image:url(../img/portfolio/portfolio_neopraxis.png)
    }
    .card-sm-neopraxis{
        background-image:url(../img/portfolio/portfolio_Indots.jpg)
    }
    .card-sm-estilizate{
        background-image:url(../img/portfolio/portfolio_brick.png)
    }
    .card-sm-finacero{
        background-image:url(../img/portfolio/estilizate-img.jpg)
    }
    .card-sm-rochalandero{
        background-image:url(../img/portfolio/portfolio_98-coast.png)
    }
    .card-sm-working{
        background-image:url(../img/portfolio/portfolio_begona.png)
    }
    .card-sm-pacer{
        background-image:url(../img/portfolio/portfolio_finacero.png)
    }
    .card-sm-jbaccesorios{
        background-image:url(../img/portfolio/portfolio_opia.png)
    }
    .card-sm-gemo{
        background-image:url(../img/portfolio/portfolio_nutrologa.png)
    }
    .card-md-fortia{
        background-image:url(../img/portfolio/portfolio_rocha.png)
    }
    .card-md-cierralo{
        background-image:url(../img/portfolio/portfolio_beltrami.png)
    }
    .card-md-indotsverde{
        background-image:url(../img/portfolio/portfolio_aguaviento.png)
    }
    .card-md-dondinero{
        background-image:url(../img/portfolio/portfolio_workingch.png)
    }
    .card-md-indots{
        background-image:url(../img/portfolio/portfolio_local-e.png)
    }
    .card-md-98coast{
        background-image:url(../img/portfolio/portfolio_mccosmetics.png)
    }
    .card-md-opia{
        background-image:url(../img/portfolio/portfolio_pacer.png)
    }
    .card-md-casabeltrami{
        background-image:url(../img/portfolio/portfolio_emma.png)
    }
    .card-md-locale{
        background-image:url(../img/portfolio/portfolio_florella.png)
    }
    .card-md-miemma{
        background-image:url(../img/portfolio/portfolio_jb.png)
    }
    .card-md-kerma{
        background-image:url(../img/portfolio/portfolio_debisa.jpg)
    }
    .card-md-gemo{
        background-image:url(../img/portfolio/portfolio_gemo.png)
    }
    .card-md-m-kerma{
        background-image:url(../img/portfolio/kerma-img.jpg)
    }
    .card-lg-alegpaez,.card-lg-bg4,.card-lg-bg6,.card-lg-bg8,.card-lg-brick,.card-lg-higia,.card-lg-mccosmetics,.card-lg-rgv,.card-md-98coast,.card-md-bg10,.card-md-bg2,.card-md-bg4,.card-md-bg6,.card-md-bg8,.card-md-casabeltrami,.card-md-cierralo,.card-md-dondinero,.card-md-kerma,.card-md-m-kerma,.card-md-miemma,.card-sm-bg10,.card-sm-bg2,.card-sm-bg4,.card-sm-bg6,.card-sm-bg8,.card-sm-dreamwater,.card-sm-estilizate,.card-sm-gemo,.card-sm-pacer,.card-sm-rochalandero,.card-sm-vre{
        margin:7px 0 7px 7px
    }
    .card-lg-aguaviento,.card-lg-atelier,.card-lg-begona,.card-lg-florella,.card-lg-opalo,.card-lg-rer,.card-md-fortia,.card-md-gemo,.card-md-indots,.card-md-indotsverde,.card-md-locale,.card-md-opia,.card-md-rancholucero,.card-sm-finacero,.card-sm-ican,.card-sm-jbaccesorios,.card-sm-loquay,.card-sm-neopraxis,.card-sm-working{
        margin:7px 7px 7px 0
    }
    .portfolio-view{
        padding:100px 0 80px;
        background-size:100% 3%
    }
    .portfolio-view__background{
        background-size:contain;
        height:15.5em
    }
    .portfolio-view__background-title{
        -ms-flex-align:start;
        align-items:flex-start;
        -ms-flex-pack:start;
        justify-content:flex-start;
        width:100%;
        margin:0;
        padding:0 0 0 2.06em
    }
    .portfolio-view__background-title span{
        width:16.43em;
        text-align:left;
        margin:32px 0 0
    }
    .portfolio-view__more-log{
        display:block;
        margin-top:68px
    }
    .portfolio-view__more-log a{
        width:100%;
        height:100%;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-pack:center;
        justify-content:center
    }
    .portfolio-view__more-log a img{
        width:20%;
        height:20%;
        animation:tada_more_logo linear 1s 2 forwards;
        transform-origin:20% 100%
    }
    .card-lg-bg2 img[src="img/logos/dreamwater.png"]{
        width:5.12em
    }
    .card-lg-bg1 img{
        width:6.66em;
        margin-top:0
    }
    .card-lg-bg6 img{
        width:7.66em
    }
    .gemo-only-mobile{
        display:block
    }
}