
{% extends "partials/base.njk" %}

{% block meta %}
<meta property="og:title" content="Portafolio | More Co.">
<meta property="og:description" content="Hay miles de maneras de presentar tu empresa, pero solo una en donde el diseño y la tecnología se encuentran. Ahí es donde comenzamos a trabajar juntos.">
<meta name="description" content="Hay miles de maneras de presentar tu empresa, pero solo una en donde el diseño y la tecnología se encuentran. Ahí es donde comenzamos a trabajar juntos.">
{% endblock %}

{% block title %}
Portafolio
{% endblock %}

{% block content %}
<section class="portfolio-view">
  {# Title #}
  <div class="portfolio-view__background">
    <div class="portfolio-view__background-title">
      <p class="font-metropolis-bold">Portafolio</p>
      <span class="font-athelas-regular">Hay miles de maneras de presentar tu empresa, pero solo una en donde el diseño y la tecnología se encuentran. Ahí es donde comenzamos a trabajar juntos.</span>  
    </div>
  </div>
  {# Portfolio Container #}
  <div class="portfolio-view__container">
    {# Large cards #}
    <div class="col-1">
      <div class="card-lg card-lg-atelier" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="https://cotejardinatelier.com">
          <img src="img/logos/atelier-logo.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-lg card-lg-higia" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://higia.tech/">
          <img src="img/logos/higia.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://ican.blick.mx">
          <img src="img/logos/ican-logo.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-lg card-lg-opalo" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://opaloaccesorios.com">
          <img src="img/logos/opalo-logo.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://fortia.me">
          <img src="img/logos/fortia-logo.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-lg card-lg-rgv" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://rgvsoluciones.com/">
          <img src="img/logos/rgv.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://higia.tech/">
          <img src="img/logos/higia.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-lg card-lg-rer" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://rerenergygroup.com.mx/">
          <img src="img/logos/rer.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="https://drinkdreamwater.com/">
          <img src="img/logos/dreamwater.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-lg card-lg-brick" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://bricksa.mx/">
          <img src="img/logos/brick.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://cierralo.com/">
          <img src="img/logos/cierralo.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-lg card-lg-begona" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://begonafernandez.com.mx/">
          <img src="img/logos/begona.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://opaloaccesorios.com">
          <img src="img/logos/opalo-logo.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-lg card-lg-alegpaez" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://alegpaez.com/">
          <img src="img/logos/alegpaez.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="https://tienda.loquay.com/">
          <img src="img/logos/loquay-logo.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-lg card-lg-aguaviento" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://aguaviento.com/">
          <img src="img/logos/aguaviento.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://indotsverde.com">
          <img src="img/logos/indotsverde-logo.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-lg card-lg-mccosmetics" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://www.mccosmetics.mx/">
          <img src="img/logos/mccosmetics.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://rgvsoluciones.com/">
          <img src="img/logos/rgv.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-lg card-lg-florella hide-on-mobile" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://florella.mx/">
          <img src="img/logos/florella.png" class="portfolio-logo-transform">
        </a>
      </div>
    </div>

    {# Small cards #}
    <div class="col-2">
      <div class="card-sm card-sm-ican" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://ican.blick.mx">
          <img src="img/logos/ican-logo.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="https://vre.com.mx/">
          <img src="img/logos/vre.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-sm card-sm-dreamwater" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://drinkdreamwater.com/">
          <img src="img/logos/dreamwater.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="https://dondinero.mx/">
          <img src="img/logos/dondinero.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-sm card-sm-loquay" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://tienda.loquay.com/">
          <img src="img/logos/loquay-logo.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://rerenergygroup.com.mx/">
          <img src="img/logos/rer.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-sm card-sm-vre" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://vre.com.mx/">
          <img src="img/logos/vre.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://neopraxis.mx/">
          <img src="img/logos/neopraxis.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-sm card-sm-neopraxis" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://neopraxis.mx/">
          <img src="img/logos/neopraxis.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="https://www.indots.com/">
          <img src="img/logos/indots.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-sm card-sm-estilizate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://estilizate.mx">
          <img src="img/logos/estilizate-logo.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://bricksa.mx/">
          <img src="img/logos/brick.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-sm card-sm-finacero" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://finacero.mx/">
          <img src="img/logos/finacero.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://estilizate.mx">
          <img src="img/logos/estilizate-logo.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-sm card-sm-rochalandero" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://rlabogados.mx/">
          <img src="img/logos/rochalandero.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="https://www.98coastav.com/">
          <img src="img/logos/98-coast.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-sm card-sm-working" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://workingch.com/">
          <img src="img/logos/workingch.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://begonafernandez.com.mx/">
          <img src="img/logos/begona.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-sm card-sm-pacer" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://pacer.mx/">
          <img src="img/logos/pacer.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://finacero.mx/">
          <img src="img/logos/finacero.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-sm card-sm-jbaccesorios" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://jbaccesorios.com/">
          <img src="img/logos/jb.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="https://www.opiajewelry.com/">
          <img src="img/logos/opia.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-sm card-sm-gemo" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://gemo-mexico.myshopify.com/">
          <img src="img/logos/gemo.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" class="turnOff-on-mobile" target="_blank" href="http://alegpaez.com/">
          <img src="img/logos/alegpaez.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-sm card-sm-debisa hide-on-mobile" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="http://debisasystems.com/">
          <img src="img/logos/debisasystems.png" class="portfolio-logo-transform">
        </a>
      </div>
    </div>

    {# Medium cards #}
    <div class="col-3">
      <div class="card-md card-md-fortia" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://fortia.me">
          <img src="img/logos/fortia-logo.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://rlabogados.mx/">
          <img src="img/logos/rochalandero.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-md card-md-cierralo" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://cierralo.com/">
          <img src="img/logos/cierralo.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://casabeltrami.com/">
          <img src="img/logos/casabeltrami.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-md card-md-indotsverde" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://indotsverde.com">
          <img src="img/logos/indotsverde-logo.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://aguaviento.com/">
          <img src="img/logos/aguaviento.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-md card-md-dondinero" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://dondinero.mx/">
          <img src="img/logos/dondinero.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://workingch.com/">
          <img src="img/logos/workingch.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-md card-md-indots" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://www.indots.com/">
          <img src="img/logos/indots.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="https://local-e.mx/">
          <img src="img/logos/local-e.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-md card-md-98coast" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://www.98coastav.com/">
          <img src="img/logos/98-coast.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="https://www.mccosmetics.mx/">
          <img src="img/logos/mccosmetics.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-md card-md-opia" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://www.opiajewelry.com/">
          <img src="img/logos/opia.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="https://pacer.mx/">
          <img src="img/logos/pacer.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-md card-md-casabeltrami" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://casabeltrami.com/">
          <img src="img/logos/casabeltrami.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://miemma.com/">
          <img src="img/logos/emma.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-md card-md-locale" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://local-e.mx/">
          <img src="img/logos/local-e.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="https://florella.mx/">
          <img src="img/logos/florella.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-md card-md-miemma" data-aos="fade-up" data-aos-delay="300"  data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://miemma.com/">
          <img src="img/logos/emma.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="https://jbaccesorios.com/">
          <img src="img/logos/jb.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-md card-md-rancholucero" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a target="_blank" href="http://rancholucero.com/">
          <img src="img/logos/rancholucero.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-md card-md-kerma" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://kermapartners.getmore.mx">
          <img src="img/logos/kerma-logo.png" class="portfolio-logo-transform">
        </a>
        <a class="turnOn-on-mobile" target="_blank" href="http://debisasystems.com/">
          <img src="img/logos/debisasystems.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-md card-md-gemo show-on-mobile" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a target="_blank" href="https://gemo-mexico.myshopify.com/">
          <img src="img/logos/gemo.png" class="portfolio-logo-transform">
        </a>
      </div>
      <div class="card-md card-md-m-kerma show-on-mobile" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a target="_blank" href="http://kermapartners.getmore.mx">
          <img src="img/logos/kerma-logo.png" class="portfolio-logo-transform">
        </a>
      </div>
    </div>
  </div>
  {# More Logo #}
  <div class="portfolio-view__more-log">
    <a href="index-es.html"><img src="img/logos/more-black-mobile.png" alt="More logo"></a>
  </div>
</section>
{% endblock %}