{% extends "partials/base.njk" %}

{% block meta %}
<meta property="og:title" content="Team | More Co.">
<meta property="og:description" content="All the projects are created by this amazing team, get to know us better">
<meta name="description" content="All the projects are created by this amazing team, get to know us better">
{% endblock %}

{% block title %}
Team
{% endblock %}

{% block content %}

<section class="view_team">
  <div class="view_team-container">
    <div class="view_team-title-container">
      <h1 class="view_team-title font-metropolis-bold">Get to know us:</h1>
    </div>
    <div class="view_team-description-container">
      <h2 class="view_team-description font-athelas-regular">All the projects are created by this amazing team, get to know us better.</h2>
    </div>
    <div class="view_team-items-container">
      {# <div class="view_team-items-wrapper-row"> #}
      <div class="view_team-member-item">
        <div class="view_team-member-photo"><img src="img/team/camilo.png" alt="camilo"></div>
        <div class="view_team-member-description">
          <h3 class="view_team-member-name font-metropolis-bold">Camilo Sosa</h3>
          <h4 class="view_team-member-position font-athelas-bold">Front-End Developer</h4>
          <div class="view_team-member-divider"></div>
          <p class="view_team-member-phrase font-metropolis-regular">“A Front-end, who builds stuff with code. Strict in semantic and Web optimization”</p>
        </div>
      </div>
      <div class="view_team-member-item">
        <div class="view_team-member-photo"><img src="img/team/ines.png" alt="ines"></div>
        <div class="view_team-member-description">
          <h3 class="view_team-member-name font-metropolis-bold">Ines Iwadare</h3>
          <h4 class="view_team-member-position font-athelas-bold">Operations</h4>
          <div class="view_team-member-divider"></div>
          <p class="view_team-member-phrase font-metropolis-regular">“Idea Collector, Designer, Checklist addict”</p>
        </div>
      </div>
      <div class="view_team-member-item">
        <div class="view_team-member-photo"><img src="img/team/alex.png" alt="ale"></div>
        <div class="view_team-member-description">
          <h3 class="view_team-member-name font-metropolis-bold">Alejandro Moreno</h3>
          <h4 class="view_team-member-position font-athelas-bold">Sales</h4>
          <div class="view_team-member-divider"></div>
          <p class="view_team-member-phrase font-metropolis-regular">“GET SHIT DONE”</p>
        </div>
      </div>
      <div class="view_team-member-item">
        <div class="view_team-member-photo"><img src="img/team/mariana.png" alt="mariana"></div>
        <div class="view_team-member-description">
          <h3 class="view_team-member-name font-metropolis-bold">Mariana Castellanos</h3>
          <h4 class="view_team-member-position font-athelas-bold">UI Designer</h4>
          <div class="view_team-member-divider"></div>
          <p class="view_team-member-phrase font-metropolis-regular">“Leo. Playing drums since 1998. Love to create beautiful things. Proud dog mom of one. Enjoy the little things”</p>
        </div>
      </div>
      <div class="view_team-member-item">
        <div  class="view_team-member-photo"><img src="img/team/raul.png" alt="raul"></div>
        <div class="view_team-member-description">
          <h3 class="view_team-member-name font-metropolis-bold">Raúl Pérez</h3>
          <h4 class="view_team-member-position font-athelas-bold">Front-End Developer</h4>
          <div class="view_team-member-divider"></div>
          <p class="view_team-member-phrase font-metropolis-regular">“Colossians 3:23 | And whatsoever ye do, do it heartily, as to the Lord, and not unto men.”</p>
        </div>
      </div>
      <div class="view_team-member-item join-us-wrapper">
        <div  class="view_team-member-photo">
          <a href="careers.html#applyNow">
            <img src="img/team/join.png" alt="join us">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}