footer
  padding 4rem 0
  background-image url('../img/backgrounds/footer-bgd.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  total-center()
  flex-direction column

.site-footer__menu
  .site-footer__menu-wrapper
    display flex
    color black
    margin 3rem 0

.site-footer-separator
  display none

.site-footer__menu-link
  font-size remify(13)
  color #000
  padding 0 15px
  border-right 1px solid $blueStandar

  &.active
    font-weight bold
    color #1e1e1e
  
  &:hover
    color #1e1e1e
    font-weight 800

.site-footer-menu-col2
  .site-footer__menu-link:last-child
    border none

.site-footer__menu-copyright
  font-size remify(12)

.footer-fb-container
  display flex
  flex-direction row

.footer-fb-link
  margin-bottom 25px

.footer-email-link
  margin 10px 0 40px 0

.site-footer__mail
  font-size remify(12)
  color #000
  letter-spacing 2px
  margin-top 6.5px

.footer-fb-link
  height 20px

.footer-fb-icon
  height 17px
  margin-left 10px
  width auto

@media screen and (max-width: 767px)
  footer
    background-image url('../img/backgrounds/footer-background.jpg')

  .site-footer__menu
    padding 0 40px
    width 100%

  .site-footer__menu
    .site-footer__menu-wrapper
      margin 0

  .site-footer__menu
    .site-footer__menu-wrapper
      display flex
      justify-content center
      color #000
      flex-direction column
      width 100%

  .site-footer-separator
    background-color #1e1e1e
    display block
    height 1px
    margin 2em 0
    width 100%

  .site-footer__menu-link
    font-size remify(15px)
    margin-bottom 8px

  .site-footer-menu-col2, .site-footer-menu-col1
    display flex
    flex-direction column
    .site-footer__menu-link
      padding 5px 15px
  
  .site-footer-menu-col2,
  .site-footer-menu-col1
    .site-footer__menu-link
      border none

  .site-footer-menu-col2,
  .site-footer-menu-col1
      align-items center

  .footer-fb-link
    margin 10px 0 0 0

  .footer-fb-icon
    margin-left 0

  .footer-email-link
    margin-bottom 17px

  .site-footer__mail,
  .site-footer__menu-copyright
    font-size remify(15px)
    letter-spacing 0
  
  
